@model Hospital_Mangment_System_DAL.Entites.Medical_equipment

@{
    ViewData["Title"] = "Details";
    
}

<h1>Details</h1>

<div>
    <h4>Medical_equipment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equip_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equip_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maintence_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maintence_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Dname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Equipment_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
