@using Hospital_Mangment_System_BLL.View_model.patientVM


@{
    ViewData["Title"] = "GetAllPatient";
}

@model List< GetAllPatientssVM>


@foreach(var item in Model)
{

    <h1>Id is @item.Id :Name is @item.Name :Gender is @item.Gender :Phone1 is @item.phone1 :Birthday is @item.birthday image is: <img src="~/Profile/@item.Imagepath"></h1>

}


<h1>GetAllPatient</h1>

