@using Hospital_Mangment_System_BLL.View_model.patientVM;

@{
    ViewData["Title"] = "GetPatientById";
}
@model GetPatientByIdVM



<h1>Id is @Model.Id  </h1>
<h1>Name is @Model.Name  </h1>
<h1>Gender is @Model.Gender  </h1>
<h1>Phone1 is @Model.phone1  </h1>
<h1>Birthday is @Model.birthday  </h1>
<h1>Image is @Model.Imagepath  </h1>





