@using Hospital_Mangment_System_BLL.View_model.NurseVM

@{
    ViewData["Title"] = "GetNurseById";
}
@model GetNurseByIdVM

<h1>Id is @Model.NurseID  </h1>
<h1>Name is @Model.Name </h1>
<h1>Phone is @Model.phones  </h1>
<h1>Department is @Model.DepartmentName </h1>

<h1>Department is @Model.Department.Dname </h1>
<h1>Image is @Model.Imagepath  </h1>




